<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST API Automation">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="RestTestMain.ATLRestTest"/>-->
      <class name="RestTestMain.RegisterCreateAc"/>
      <class name="RestTestMain.Login"/>
      <class name="RestTestMain.EnableTwoFactor"/>
      <class name="RestTestMain.ResendMailVerify"/>
      <class name="RestTestMain.DisableTwoFactorAuth"/>
      <class name="RestTestMain.ChangePass"/>
      <class name="RestTestMain.UpdateProfile"/>
      <!--<class name=".SumValidation"/>
      <class name="LibraryAPI.DynamicJson"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
